# ----------------------------------------
# Node.js / React / NestJS
# ----------------------------------------

# Dependencies
node_modules/
# Build output
build/
dist/


# ----------------------------------------
# Spring Boot (Java)
# ----------------------------------------

# Compiled class files
*.class

# Build directories
target/
*.class
*.jar
*.war
*.ear
/bin/

# Logs
*.log

# Environment variables
.env
.env.*
*.env
# For multiple environment configs


# ----------------------------------------
# IDEs
# ----------------------------------------
.idea/
*.iws
*.iml
*.ipr
out/
.vscode/


# ----------------------------------------
# Spring Boot (Java)
# ----------------------------------------

# Compiled class files
*.class


# Maven wrapper files
.mvn/
mvnw
mvnw.cmd

# IDE files
/.classpath
/.project
/.settings/


# ----------------------------------------
# Database files
# ----------------------------------------

# MongoDB data files (if storing locally)
mongodb-data/

# PostgreSQL
*.pgsql
*.sql

# ----------------------------------------
# Redis
# ----------------------------------------

# Redis dump files
dump.rdb

# ----------------------------------------
# Cloudinary / Media Files
# ----------------------------------------

# Ignore media uploads if stored locally
/media/
uploads/

# ----------------------------------------
# SonarQube
# ----------------------------------------
.sonar/
.scannerwork/



# ----------------------------------------
# Misc / System Files
# ----------------------------------------

.DS_Store
Thumbs.db

# Sensitive info
# Be cautious with any other secrets or keys